.checkbox-checked {
  background: url(../img/2@spritesheet.png) 0px -61px no-repeat;
  display: inline-block;
  width: 29px;
  height: 27px;
}

.checkbox-unchecked {
  background: url(../img/2@spritesheet.png) -31px -61px no-repeat;
  display: inline-block;
  width: 27px;
  height: 27px;
}

.dropdown-arrow-down {
  background: url(../img/2@spritesheet.png) -84px -61px no-repeat;
  display: inline-block;
  width: 15px;
  height: 12px;
}

.dropdown-arrow-up {
  background: url(../img/2@spritesheet.png) -101px -61px no-repeat;
  display: inline-block;
  width: 15px;
  height: 12px;
}

.logo {
  background: url(../img/2@spritesheet.png) 0px 0px no-repeat;
  display: inline-block;
  width: 377px;
  height: 40px;
}

.radiobuton-checked {
  background: url(../img/2@spritesheet.png) 0px -90px no-repeat;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.radiobutton-unchecked {
  background: url(../img/2@spritesheet.png) -30px -90px no-repeat;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.relation-icon {
  background: url(../img/2@spritesheet.png) -43px -42px no-repeat;
  display: inline-block;
  width: 41px;
  height: 17px;
}

.relation-icon-from {
  background: url(../img/2@spritesheet.png) -86px -42px no-repeat;
  display: inline-block;
  width: 39px;
  height: 17px;
}

.relation-icon-to {
  background: url(../img/2@spritesheet.png) 0px -42px no-repeat;
  display: inline-block;
  width: 41px;
  height: 17px;
}

.zoom-in-icon {
  background: url(../img/2@spritesheet.png) -60px -61px no-repeat;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.zoom-out-icon {
  background: url(../img/2@spritesheet.png) -127px -42px no-repeat;
  display: inline-block;
  width: 22px;
  height: 6px;
}
