.checkbox-checked {
  background: url(../img/spritesheet.png) -36px -35px no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.checkbox-unchecked {
  background: url(../img/spritesheet.png) -54px -35px no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.dropdown-arrow-down {
  background: url(../img/spritesheet.png) -121px -35px no-repeat;
  display: inline-block;
  width: 9px;
  height: 6px;
}

.dropdown-arrow-up {
  background: url(../img/spritesheet.png) -132px -35px no-repeat;
  display: inline-block;
  width: 9px;
  height: 6px;
}

.logo {
  background: url(../img/spritesheet.png) 0px 0px no-repeat;
  display: inline-block;
  width: 189px;
  height: 21px;
}

.menu-side-arrow {
  background: url(../img/spritesheet.png) -18px -23px no-repeat;
  display: inline-block;
  width: 16px;
  height: 31px;
}

.menu-side-arrow-flipped {
  background: url(../img/spritesheet.png) 0px -23px no-repeat;
  display: inline-block;
  width: 16px;
  height: 31px;
}

.radiobuton-checked {
  background: url(../img/spritesheet.png) -72px -35px no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.radiobutton-unchecked {
  background: url(../img/spritesheet.png) -90px -35px no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.relation-icon {
  background: url(../img/spritesheet.png) -36px -23px no-repeat;
  display: inline-block;
  width: 22px;
  height: 10px;
}

.relation-icon-from {
  background: url(../img/spritesheet.png) -130px -23px no-repeat;
  display: inline-block;
  width: 20px;
  height: 10px;
}

.relation-icon-from_over {
  background: url(../img/spritesheet.png) -152px -23px no-repeat;
  display: inline-block;
  width: 20px;
  height: 10px;
}

.relation-icon-to {
  background: url(../img/spritesheet.png) -84px -23px no-repeat;
  display: inline-block;
  width: 21px;
  height: 10px;
}

.relation-icon-to_over {
  background: url(../img/spritesheet.png) -107px -23px no-repeat;
  display: inline-block;
  width: 21px;
  height: 10px;
}

.relation-icon_over {
  background: url(../img/spritesheet.png) -60px -23px no-repeat;
  display: inline-block;
  width: 22px;
  height: 10px;
}

.zoom-in-icon {
  background: url(../img/spritesheet.png) -108px -35px no-repeat;
  display: inline-block;
  width: 11px;
  height: 11px;
}

.zoom-out-icon {
  background: url(../img/spritesheet.png) -174px -23px no-repeat;
  display: inline-block;
  width: 11px;
  height: 3px;
}